@charset 'utf-8';
@import  'utils/mixins', 'utils/functions';

// begin css coding...
html, body {
	height: 100%;
	font-size: 16px;
}

article {
	@include size(100%);
	@include absolute(top 0 left 0);
	background-repeat: no-repeat;
	background-size: cover;
	animation: 3s ease-in-out;
	animation-fill-mode:forwards; 
}
#lisa {
	background-image: url('../img/bg.jpg');
}
#dushang {
	background-image: url('../img/bg1.jpg');
	opacity: 0;
}
#lisa.active {
	animation-name: hide;
}
#dushang.active {
	animation-name: show;
}

section {
	@include absolute(top 30% left 1rem);
	color: #fff;
}
// 步骤
.step	{
	p {
		display: none;

		&.active {
			display: block;
		}
	}
}

// 下一步
.step-next {}

// 混合字样
.mixed {
	@include fixed(bottom 2rem left 0 right 0);
	@include size(7rem, 2rem);
	text-align: center;
	line-height: 2rem;
	margin: 0 auto;
	border: 1px solid #fff;
	border-radius: 4px;
	display: block;
	color: #fff;
	background-color: #337ab7;
}

@keyframes hide {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes show {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.dushang-img {
	@include fixed(top 0);
	@include size(100%, auto);
	animation: 3s ease-in-out ;
	animation-fill-mode: forwards 3s;
}

#dushang.active .dushang-img {
	animation-name: down;
}

@keyframes down {
	0% {
		top: 0;		
	}
	100% {
		top: 100%;
	}
}